<% content_for :banner do %>
  <div id="banner" class="full_row index_banner">
    <h2>
      <span class="banner_black">Welcome to</span><br />
      <span class="banner_blue">M.A.R.S.</span>
    </h2>  	
    <p class="banner">Marketing Asset Request System</p>
  </div>
<% end %>
<div class="body_header">
  <p>Marketing Collateral</p>
  <div class="grey_block"></div>
</div>
<div class="main_content">
  <ul class="top_level">
    <li>
      <ul class="secondary_level">
        <li>
          <%= image_tag('../images/print_icon.png') %>
          <h3>Print Collateral</h3>
          <p>
            These monthly educational sessions are brought to straight form our xperts here at Verisk Health sectetur adipisicing elit, ed do eiusmod tempor incididunt agna aliqua. Ut enim ad minim veniam, quis nostrud exerci- tation ullamco laboris nisi ut aliquip exea
          </p>
          <%= link_to "Print", print_path %>
        </li>
        <li>
          <%= image_tag('../images/landing_icon.png') %>
          <h3>Landing Pages &#38; Web</h3>
          <p>
            These monthly educational sessions are brought to straight form our xperts here at Verisk Health sectetur adipisicing elit, ed do eiusmod tempor incididunt agna aliqua. Ut enim ad minim veniam, quis nostrud exerci- tation ullamco laboris nisi ut aliquip exea commodo
          </p>
          <%= link_to "Print", landing_pages_path %>
        </li>
        <li>
          <%= image_tag('../images/email_icon.png') %>
          <h3>Emails</h3>
          <p>
            These monthly educational sessions are brought to straight form our xperts here at Verisk Health sectetur adipisicing elit, ed do eiusmod tempor incididunt agna aliqua. Ut enim ad minim veniam, quis nostrud exerci- tation ullamco laboris nisi ut aliquip exea commodo
          </p>
          <%= link_to "Print", emails_path %>
        </li>
      </ul>
    </li>
    <li>
      <ul class="secondary_level">
        <li>
          <%= image_tag('../images/website_icon.png') %>
          <h3>Website</h3>
          <p>
            These monthly educational sessions are brought to straight form our xperts here at Verisk Health sectetur adipisicing elit, ed do eiusmod tempor incididunt agna aliqua. Ut enim ad minim veniam, quis nostrud exerci- tation ullamco laboris nisi ut aliquip exea commodo
          </p>
          <%= link_to "Print", website_path %>
        </li>
        <li>
          <%= image_tag('../images/sign_icon.png') %>
          <h3>Signs &#38; Displays</h3>
          <p>
            These monthly educational sessions are brought to straight form our xperts here at Verisk Health sectetur adipisicing elit, ed do eiusmod tempor incididunt agna aliqua. Ut enim ad minim veniam, quis nostrud exerci- tation ullamco laboris nisi ut aliquip exea commodo
          </p>
          <%= link_to "Print", signs_path %>
        </li>
        <li>
          <%= image_tag('../images/misc_icon.png') %>
          <h3>Miscellaneous</h3>
          <p>
            These monthly educational sessions are brought to straight form our xperts here at Verisk Health sectetur adipisicing elit, ed do eiusmod tempor incididunt agna aliqua. Ut enim ad minim veniam, quis nostrud exerci- tation ullamco laboris nisi ut aliquip exea commodo
          </p>
          <%= link_to "Print", misc_path %>
        </li>
      </ul>
    </li>
  </ul>
</div>










<% content_for :javascripts do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      Base.indexBanners();
    });
  </script>
<% end %>