<%= form_for @category, :html => {:multipart => true} do |f| %>
  <%= render :partial => "layouts/error_block", :locals => {:object => @category} %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :url_path %><br />
    <%= f.text_field :url_path %>
  </div>
  <div class="field">
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
