  <div class="footer_nav">
  	<ul>
  		<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Print Collateral"%></li>
			<li><%= link_to "Landing Pages"%></li>
			<li><%= link_to "Emails"%></li>
			<li><%= link_to "Website"%></li>
			<li><%= link_to "Signs & Displays"%></li>
			<li><%= link_to "Miscellaneous"%></li>
			<li class="last"><%= login_logout_link %></li>
				
  	</ul>
  </div>