<div id="main_nav" class="main_nav">
	<%# if current_user %>	
		<ul class="nav_ul">
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Print Collateral"%></li>
			<li><%= link_to "Landing Pages"%></li>
			<li><%= link_to "Emails"%></li>
			<li><%= link_to "Website"%></li>
			<li><%= link_to "Signs & Displays"%></li>
			<li><%= link_to "Miscellaneous"%></li>
			<li class="last"><%#= login_logout_link %></li>
		</ul>
	<%# else %>
    <!-- <ul class="nav_ul">
      <li><%#= link_to "Home", root_path %></li>
      <li class="products"><%#= link_to "Systems", packages_path %></li>
      <li><%#= link_to "Blog", blogs_path %></li>
      <li><%#= link_to "Contact", contact_path %></li>
      <li class="last"><%#= login_logout_link %></li>
    </ul> -->
	<%# end %>
</div>