<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <%= render :partial => "layouts/headmeta" %>
</head>
<body class="clearfix">
  <!-- Application Layout -->
  <div id="internal_wrapper" class="clearfix">
    <header id="hd" class="clearfix">
    	<%= render :partial => "layouts/header" %>
    </header>
    <%= render :partial => 'layouts/flash', :locals => {:flash => flash} %>
    <div id="bd" class="clearfix">
      <%= yield :banner %>
      <div id="content" class="clearfix">
        <%= yield %>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <%= render :partial => "layouts/scripts" %>
</body>
</html>